@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenue !</h1>
    <p>Bienvenue sur l'application de la bibliothèque, vous pouvez accéder à votre compte, emprunter des livres ou accéder à la page d'administration en naviguant grace au menu déroulant.</p>
    <p>Bonne visite !</p>
</div>
